.Gif {
    border-radius: 6px;
    border: 1px solid #eee;
    color: #fff;
    text-decoration: none;
    display: flex;
    margin: 16px;
    flex-direction: column;
    padding: 32px;
    width: 100%;
}

.Gif h4 {
    margin: 0;
}

.Gif img {
    object-fit: contain;
}

a {
    color: #fff;
    font-size: 32px;
}